footer {
  max-width: 1100px;
  margin: 30px auto 0px auto;
}

.appInfo {
  display: flex;
  align-items: center;
  min-height: 100px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.appLink {
  text-decoration: none;
  color: #000;
  transition: color 0.2s ease-in-out;
}

.appLink:hover {
  color: #999;
}

.authorInfo {
  text-align: center;
}

.authorInfo p {
  color: #444;
  font-weight: normal;
  font-size: large;
}

.authorInfo p a {
  color: #111;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authorLinks {
  display: flex;
  justify-content: space-evenly;
  max-width: 200px;
  margin: 0 auto;
}

.authorLinks a {
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease-in-out;
}

.authorLinks a:hover {
  color: #999;
}
